@tailwind base;
@tailwind components;
@tailwind utilities;

.my-background-color{
  background-color: rgba(215, 245, 220, 1);
}
.my-button-bg-color{
  background-color: #20B15A;
}
.my-border-color{
  border-color:  #20B15A;
}
.my-text-color{
  color: #20B15A;
}
.subscribe-btn-bg-color{
  background-color: #F55F1D;
}
.team-social-link{
  top: 66%;
  left: 34%;
  width: 145px;
  height: 50px;
  background-color: white;
  padding: 4px;
  border-radius: 25px;
}
.skew {
  display: none;
}
.skewed-top-right .skew-top.mr-for-radius {
  display: block;
}

.skewed-top-left .skew-top.ml-for-radius {
  display: block;
}

.skewed-bottom-right .skew-bottom.mr-for-radius {
  display: block;
}

.skewed-bottom-left .skew-bottom.ml-for-radius {
  display: block;
}

.skewed-top-right .radius-for-skewed {
  border-top-right-radius: 6rem;
}

.skewed-top-left .radius-for-skewed {
  border-top-left-radius: 6rem;
}

.skewed-bottom-right .radius-for-skewed {
  border-bottom-right-radius: 6rem;
}

.skewed-bottom-left .radius-for-skewed {
  border-bottom-left-radius: 6rem;
}